<!DOCTYPE html>
<html lang="en">
<head>
<title>Please work now </title>
<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR GOOGLEMAPS API KEY"></script>
<script type="text/javascript">
 var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
var position = [19.2265447, 72.867964];
var intervalID = setInterval(update_values,1000);

function initialize() { 
    var latlng = new google.maps.LatLng(position[0], position[1]);
    var myOptions = {
        zoom: 16,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("mapCanvas"), myOptions);

    marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: "Latitude:"+position[0]+" | Longitude:"+position[1]
    });
}
  

function update_values() {
        $.getJSON($SCRIPT_ROOT + '/_stuff',
               
      function(data) {
        $('#lat').text(data.lat);
        $('#longi').text(data.longi);
        console.log(data)
          var result = [ data.lat , data.longi];
        transition(result);
        window.setTimeout(function() {
          map.panTo(marker.getPosition());
      }, 300);
        
      });
      
    };
    
function stopTextColor() {
      clearInterval(intervalID);
    }

//Load google map
google.maps.event.addDomListener(window, 'load', initialize);


var numDeltas = 100;
var delay = 10; //milliseconds
var i = 0;
var deltaLat;
var deltaLng;

function transition(result){
    i = 0;
    deltaLat = (result[0] - position[0])/numDeltas;
    deltaLng = (result[1] - position[1])/numDeltas;
    moveMarker();
}

function moveMarker(){
    position[0] += deltaLat;
    position[1] += deltaLng;
    var latlng = new google.maps.LatLng(position[0], position[1]);
    marker.setTitle("Latitude:"+position[0]+" | Longitude:"+position[1]);
    marker.setPosition(latlng);
    if(i!=numDeltas){
        i++;
        setTimeout(moveMarker, delay);
    }
}
</script>
<style>
#mapCanvas{
    width: 100%;
    height: 700px;
}
</style>
</head>
<body>
    <div id="mapCanvas"></div>
     <p>Click Anywhere</p>
</body>
</html>
